<div class="paragraph">
    <h1>Our Projects</h1>
    <p>Vibgyor has successfully completed over 400 large-scale projects across South India, earning a reputation for on-time delivery and unmatched quality. With a commitment to excellence, Vibgyor is the go-to brand for all the top builders.</p>
</div>
<div class="grid">
    <div class="company">
    <img src="/assets/project6.png" alt="#">
    <div class="right">
        <p>Prestige Falcon City</p>
        <p>Bangalore</p>
    </div>
</div>
<div class="company">
    <img src="/assets/project9.png" alt="#">
    <div class="right">
        <p>UB City</p>
       <p>Bangalore</p>
    </div>
</div>
<div class="company">
    <img src="/assets/project10.png" alt="#">
    <div class="right">
     <p>Vajram New Town</p>
     <p>Bangalore</p>
    </div>
</div>
<div class="company">
    <img src="/assets/project19.png" alt="#">
    <div class="right">
        <p>Bagmane Tech Park</p>
        <p>Bangalore</p>
    </div>
</div>
<div class="company">
    <img src="/assets/project12.png" alt="#">
    <div class="right">
        <p>Pristiga Shantiniketan</p>
        <p>Bangalore</p>
    </div>
</div>
<div class="company">
    <img src="/assets/project13.png" alt="#">
    <div class="right">
        <p>Brigade Gateway</p>
        <p>Bangalore</p>
    </div>
</div>
<div class="company">
    <img src="/assets/project16.png" alt="#">
    <div class="right">
        <p>Infosyc GEC2</p>
        <p>Mysore</p>
    </div>
</div>
<div class="company">
    <img src="/assets/project17.png" alt="#">
    <div class="right">
        <p>The Forum</p>
        <p>Bangalore</p>
    </div>
</div>
<div class="company">
    <img src="/assets/project18.png" alt="#">
    <div class="right">
        <p>Brigade Gateway</p>
        <p>Bangalore</p>
    </div>
</div>
   
    
   
   
    <!-- <img src="/assets/project16.png" alt="#">
    <img src="/assets/project17.png" alt="#">
    <img src="/assets/project18.png" alt="#"> -->
    <!-- <img src="/assets/project19.png" alt="#"> -->
</div>


<!-- <div class="container">
    <img src="img_snow_wide.jpg" alt="Snow" style="width:100%;">
    <div class="bottom-left">Bottom Left</div>
    <div class="top-left">Top Left</div>
    <div class="top-right">Top Right</div>
    <div class="bottom-right">Bottom Right</div>
    <div class="centered">Centered</div>
  </div> -->