
<app-header></app-header>          
<mat-tab-group style="margin-top: -130px;">
    <mat-tab label="All"> 
        <div class="grid-container">
        <div class="grid-item">   
        <img src="/assets/BollineniAstra.png" alt="#">
            <div class="item-info">
                <h3>Bollineni Astra</h3>
                <p>Bangalore</p>
            </div>
        </div>
        <div class="grid-item">
            <img src="/assets/Brigadegoldentriangle.png" alt="#">
            <div class="item-info">
                <h3>Brigade Golden Triangle</h3>
                <p>Bangalore</p>
            </div>
        </div>
        <div class="grid-item">
            
            <img src="/assets/BrigadeNorthridgeBangalore.png" alt="#">
            <div class="item-info">
                <h3>Brigade North ridge </h3>
                <p>Bangalore</p>
            </div>
        </div>
        
        
    </div>
    <div class="grid-container">
        <div class="grid-item">   
        <img src="/assets/BrigadePanoramaBangalore.png" alt="#">
            <div class="item-info">
                <h3>Brigade Panorama </h3>
                <p>Bangalore</p>
            </div>
        </div>
        <div class="grid-item">
            <img src="/assets/BrigadeSchoolBangalore.png" alt="#">
            <div class="item-info">
                <h3>Brigade School</h3>
                <p> Bangalore</p>
            </div>
        </div>
        <div class="grid-item">
            <img src="/assets/PrestigeBellaVistaChennai.png" alt="#">
            <div class="item-info">
                <h3>Prestige Bella Vista</h3>
                <p> Chennai</p>
            </div>
        </div>
        
    </div>
    <div class="grid-container">
        <div class="grid-item">   
        <img src="/assets/InventureAcademyBangalore.png" alt="#">
            <div class="item-info">
                <h3>Inventure Academy </h3>
                <p>Bangalore</p>
            </div>
        </div>
        <div class="grid-item">
            
            <img src="/assets/CessnaBusinessParkBangalore.png" alt="#">
            <div class="item-info">
                <h3>Cessna Business Park </h3>
                <p>Bangalore</p>
            </div>
        </div>
        <div class="grid-item">
            
            <img src="/assets/PrestigeFernsResidencyBangalore.png" alt="#">
            <div class="item-info">
                <h3>Prestige Ferns Residency </h3>
                <p>Bangalore</p>
            </div>
        </div>
       
        
    </div>
    <div class="grid-container">
        <div class="grid-item">   
        <img src="/assets/PrestigeForumMallBangalore.png" alt="#">
            <div class="item-info">
                <h3>Prestige Forum Mall </h3>
                <p>Bangalore</p>
            </div>
        </div>
        <div class="grid-item">
            <img src="/assets/PrestigeBlueChipSoftwareParkBangalore.png" alt="#">
            <div class="item-info">
                <h3>Prestige Blue Chip Software Park </h3>
                <p>Bangalore</p>
            </div>
        </div>
        <div class="grid-item">
            
            <img src="/assets/PrestigeRoyalWoodsHyderabad.png" alt="#">
            <div class="item-info">
                <h3>Prestige Royal Woods </h3>
                <p>Hyderabad</p>
            </div>
        </div>
        
    </div>
    
    <div class="grid-container">
        <div class="grid-item">   
            <img src="/assets/PrestigeTranquilityBangalore.png" alt="#">
                <div class="item-info">
                    <h3>Prestige Tranquility </h3>
                    <p>Bangalore</p>
                </div>
            </div>
        <div class="grid-item">
            <img src="/assets/PrestigeRoyalWoodsHyderabad.png" alt="#">
            <div class="item-info">
                <h3>Prestige Royal Woods </h3>
                <p>Hyderabad</p>
            </div>
        </div>
        <div class="grid-item">
            
            <img src="/assets/PrestigeRoyaleGardensBangalore.png" alt="#">
            <div class="item-info">
                <h3>Prestige Royale Gardens </h3>
                <p>Bangalore</p>
            </div>
        </div>
        
    </div>
    <div class="grid-container">
        <div class="grid-item">   
        <img src="/assets/PrestigeSkytechHyderabad.png" alt="#">
            <div class="item-info">
                <h3>Prestige skytech </h3>
                <p>Hyderabad</p>
            </div>
        </div>
        <div class="grid-item">
            <img src="/assets/PrestigeSongOfTheSouthBangalore.png" alt="#">
            <div class="item-info">
                <h3>Prestige Song Of The South </h3>
                <p>Bangalore</p>
            </div>
        </div>
        
        
        <div class="grid-item">
            
            <img src="/assets/PrestigeStJohnsWoodBangalore.png" alt="#">
            <div class="item-info">
                <h3>Prestige St.Johns Wood </h3>
                <p>Bangalore</p>
            </div>
        </div>
        
    </div>
    <div class="grid-container">
        <div class="grid-item">   
            <img src="/assets/PrestigeHillCrestOoty.png" alt="#">
                <div class="item-info">
                    <h3>Prestige Hill Crest </h3>
                    <p>Ooty</p>
                </div>
            </div> 
        <div class="grid-item">
            
            <img src="/assets/SalarpuriaSattvaMistyCharmBangalore.png" alt="#">
            <div class="item-info">
                <h3>Salarpuria Sattva Misty Charm </h3>
                <p>Bangalore</p>
            </div>
        </div>
        <div class="grid-item">
            <img src="/assets/PrestigeWindsorParkChennai.png" alt="#">
            <div class="item-info">
                <h3>Prestige Windsor Park </h3>
                <p>Chennai</p>
            </div>
        </div>
        
    </div> </mat-tab>
    <mat-tab label="Residential"> 
        <div class="grid-container">
        <div class="grid-item">   
        <img src="/assets/BollineniAstra.png" alt="#">
            <div class="item-info">
                <h3>Bollineni Astra</h3>
                <p>Bangalore</p>
            </div>
        </div>
        <div class="grid-item">
            <img src="/assets/Brigadegoldentriangle.png" alt="#">
            <div class="item-info">
                <h3>Brigade Golden Triangle</h3>
                <p>Bangalore</p>
            </div>
        </div>
        <div class="grid-item">
            
            <img src="/assets/BrigadeNorthridgeBangalore.png" alt="#">
            <div class="item-info">
                <h3>Brigade North ridge </h3>
                <p>Bangalore</p>
            </div>
        </div>
    </div>
    <div class="grid-container">
        <div class="grid-item">   
        <img src="/assets/BrigadePanoramaBangalore.png" alt="#">
            <div class="item-info">
                <h3>Brigade Panorama </h3>
                <p>Bangalore</p>
            </div>
        </div>
        <div class="grid-item">
            <img src="/assets/PrestigeBellaVistaChennai.png" alt="#">
            <div class="item-info">
                <h3>Prestige Bella Vista</h3>
                <p> Chennai</p>
            </div>
        </div>
        <div class="grid-item">
            <img src="/assets/PrestigeWindsorParkChennai.png" alt="#">
            <div class="item-info">
                <h3>Prestige Windsor Park </h3>
                <p>Chennai</p>
            </div>
        </div>
    </div>
    <div class="grid-container">
        <div class="grid-item">
            <img src="/assets/PrestigeFernsResidencyBangalore.png" alt="#">
            <div class="item-info">
                <h3>Prestige Ferns Residency </h3>
                <p>Bangalore</p>
            </div>
        </div>
        <div class="grid-item">
            <img src="/assets/PrestigeSongOfTheSouthBangalore.png" alt="#">
            <div class="item-info">
                <h3>Prestige Song Of The South </h3>
                <p>Bangalore</p>
            </div>
        </div>
        <div class="grid-item">
            
            <img src="/assets/PrestigeStJohnsWoodBangalore.png" alt="#">
            <div class="item-info">
                <h3>Prestige St.Johns Wood </h3>
                <p>Bangalore</p>
            </div>
        </div>
    </div>
    <div class="grid-container">
        <div class="grid-item">
            
            <img src="/assets/PrestigeRoyaleGardensBangalore.png" alt="#">
            <div class="item-info">
                <h3>Prestige Royale Gardens </h3>
                <p>Bangalore</p>
            </div>
        </div>
        <div class="grid-item">   
            <img src="/assets/PrestigeTranquilityBangalore.png" alt="#">
                <div class="item-info">
                    <h3>Prestige Tranquility </h3>
                    <p>Bangalore</p>
                </div>
            </div>
        <div class="grid-item">
            <img src="/assets/PrestigeRoyalWoodsHyderabad.png" alt="#">
            <div class="item-info">
                <h3>Prestige Royal Woods </h3>
                <p>Hyderabad</p>
            </div>
        </div>
        
    </div>
    <div class="grid-container">
        <div class="grid-item">   
            <img src="/assets/PrestigeHillCrestOoty.png" alt="#">
                <div class="item-info">
                    <h3>Prestige Hill Crest </h3>
                    <p>Ooty</p>
                </div>
            </div> 
        <div class="grid-item">
            
            <img src="/assets/SalarpuriaSattvaMistyCharmBangalore.png" alt="#">
            <div class="item-info">
                <h3>Salarpuria Sattva Misty Charm </h3>
                <p>Bangalore</p>
            </div>
        </div>
        
        
    </div> </mat-tab>
    <mat-tab label="Commercial">  
    <div class="grid-container">
        <div class="grid-item">   
        <img src="/assets/InventureAcademyBangalore.png" alt="#">
            <div class="item-info">
                <h3>Inventure Academy </h3>
                <p>Bangalore</p>
            </div>
        </div>
        <div class="grid-item">
            <img src="/assets/CessnaBusinessParkBangalore.png" alt="#">
            <div class="item-info">
                <h3>Cessna Business Park </h3>
                <p>Bangalore</p>
            </div>
        </div>
        <div class="grid-item">   
            <img src="/assets/PrestigeSkytechHyderabad.png" alt="#">
                <div class="item-info">
                    <h3>Prestige skytech </h3>
                    <p>Hyderabad</p>
                </div>
            </div>
    </div>
    <div class="grid-container">
        <div class="grid-item">   
        <img src="/assets/PrestigeForumMallBangalore.png" alt="#">
            <div class="item-info">
                <h3>Prestige Forum Mall </h3>
                <p>Bangalore</p>
            </div>
        </div>
        <div class="grid-item">
            <img src="/assets/PrestigeBlueChipSoftwareParkBangalore.png" alt="#">
            <div class="item-info">
                <h3>Prestige Blue Chip Software Park </h3>
                <p>Bangalore</p>
            </div>
        </div>
        <div class="grid-item">
            <img src="/assets/PrestigeBellaVistaChennai.png" alt="#">
            <div class="item-info">
                <h3>Prestige Bella Vista</h3>
                <p> Chennai</p>
            </div>
        </div>
       
    </div>

    </mat-tab>
  </mat-tab-group>
  <button id="myBtn" (click)="scrollToTop()" style="color: white">
    <i style="font-size:24px" class="fa">&#xf106;</i>
  </button>
<app-footer></app-footer>
