<div class="grid-container">
    <div class="grid-item">   
    <img src="/assets/project18.png" alt="#">
        <div class="item-info">
            <h3>Capturing Nature's Beauty</h3>
            <p>Artist</p>
        </div>
    </div>
    <div class="grid-item">
        <img src="/assets/project17.png" alt="#">
        <div class="item-info">
            <h3>Metamorphosis: Exploring Transformation In Art</h3>
            <p>Nov 22, 2023 - Jan 2, 2024</p>
        </div>
    </div>
    <div class="grid-item">
        
        <img src="/assets/project17.png" alt="#">
        <div class="item-info">
            <h3>Abstract Alchemy: The Magic Of Color And Form</h3>
            <p>Thu, Jan 20 / 1:00 PM - 2:00 PM / 32 Street, Cambridge, MA</p>
        </div>
    </div>
    
</div>
<div class="grid-container1">
    <div class="grid-item">   
    <img src="/assets/project18.png" alt="#">
        <div class="item-info">
            <h3>Capturing Nature's Beauty</h3>
            <p>Artist</p>
        </div>
    </div>
    <div class="grid-item">
        <img src="/assets/project17.png" alt="#">
        <div class="item-info">
            <h3>Metamorphosis: Exploring Transformation In Art</h3>
            <p>Nov 22, 2023 - Jan 2, 2024</p>
        </div>
    </div>
    <div class="grid-item">
        
        <img src="/assets/project17.png" alt="#">
        <div class="item-info">
            <h3>Abstract Alchemy: The Magic Of Color And Form</h3>
            <p>Thu, Jan 20 / 1:00 PM - 2:00 PM / 32 Street, Cambridge, MA</p>
        </div>
    </div>
    
</div>
<div class="grid-container">
    <div class="grid-item">   
    <img src="/assets/project18.png" alt="#">
        <div class="item-info">
            <h3>Capturing Nature's Beauty</h3>
            <p>Artist</p>
        </div>
    </div>
    <div class="grid-item">
        <img src="/assets/project17.png" alt="#">
        <div class="item-info">
            <h3>Metamorphosis: Exploring Transformation In Art</h3>
            <p>Nov 22, 2023 - Jan 2, 2024</p>
        </div>
    </div>
    <div class="grid-item">
        
        <img src="/assets/project17.png" alt="#">
        <div class="item-info">
            <h3>Abstract Alchemy: The Magic Of Color And Form</h3>
            <p>Thu, Jan 20 / 1:00 PM - 2:00 PM / 32 Street, Cambridge, MA</p>
        </div>
    </div>
    
</div>
<div class="grid-container1">
    <div class="grid-item">   
    <img src="/assets/project18.png" alt="#">
        <div class="item-info">
            <h3>Capturing Nature's Beauty</h3>
            <p>Artist</p>
        </div>
    </div>
    <div class="grid-item">
        <img src="/assets/project17.png" alt="#">
        <div class="item-info">
            <h3>Metamorphosis: Exploring Transformation In Art</h3>
            <p>Nov 22, 2023 - Jan 2, 2024</p>
        </div>
    </div>
    <div class="grid-item">
        
        <img src="/assets/project17.png" alt="#">
        <div class="item-info">
            <h3>Abstract Alchemy: The Magic Of Color And Form</h3>
            <p>Thu, Jan 20 / 1:00 PM - 2:00 PM / 32 Street, Cambridge, MA</p>
        </div>
    </div>
    
</div>