.grid{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 10px;
   width: 80%;
   margin-left: 13%;
   
    
}
.grid img{
    width: 300px;
    height: 400px;
    box-shadow: 1 15px 25px darkgray;
    background: #f9f9f9;
    border: 8px solid darkgray;
    margin-top: 20%;
}
.paragraph{
    text-align: center;
    font-family: Rubik;
}
.paragraph h1{
  font-size: 42px;
  font-weight: bold;
  color: #101F46;
  font-family: Rubik;
}
.paragraph p{
  line-height: 1.6;
  word-wrap: break-word;
  font-size: 18px;
  color: #383838;
  font-family: Rubik;
  margin-top: 10px;
}
.company{
    position: relative;
    text-align: center;
    color: white;
}
.right{
    position: relative;
    top: 20px;
    color: red;
    margin-top: 15px;
    font-size: 23px;
}


/* .container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */