
<app-header></app-header>
<div class="heading">
    <h1>Wall Paneling </h1>
</div>
<div class="description">
  <p>
      Fluted panels are a stylish and modern solution for enhancing home interiors, offering a seamless way to decorate walls with elegance. Easy to install and versatile in design, fluted panels are perfect for creating a sophisticated and contemporary ambiance, transforming ordinary walls into eye-catching focal points.
      </p>
      <p>
          Designer panels are the epitome of modern luxury, adding a sleek and designer touch to any space with unique 3D patterns, colours and textures. Our expert team provides accurate consultation to ensure the perfect fit for your design vision, helping you create a statement look that is both timeless and unique.
          </p>
</div>
<div class="painting">
        <img src="/assets/paneling1.png">
        <img src="/assets/paneling2.png">
        <img src="/assets/paneling3.png">
</div>

<div class="button">
    <button (click)=" viewproject()" >Back</button>
</div>
<button id="myBtn" (click)="scrollToTop()" style="color: white">
    <i style="font-size:24px" class="fa">&#xf106;</i>
  </button>
<app-footer></app-footer>