<app-header></app-header>

<div class="heading">
    <h1>Wallpaper</h1>
</div>
<div class="description">
  <p>
     
Wallpaper is the perfect solution for a quick and effortless home makeover, transforming your walls with minimal effort and maximum impact. With a wide range of patterns, textures, and colors to choose from, our collection offers endless possibilities to suit any style or preference.

      </p>
</div>
<div class="painting">
        <img src="/assets/paper1.png">
        <img src="/assets/paper2.png">
        <img src="/assets/paper3.png">
</div>

<div class="button">
    <button (click)=" viewproject()" >Back</button>
</div>
<button id="myBtn" (click)="scrollToTop()" style="color: white">
  <i style="font-size:24px" class="fa">&#xf106;</i>
</button>
<app-footer></app-footer>