<app-header></app-header>

<div class="heading">
    <h1>Painting</h1>
</div>
<div class="description">
    <p>
        Our painting services are designed to transform your spaces with precision and excellence, covering all your needs for internal and external painting. From texture painting to specialty finishes like metallic, concrete, and more, we deliver tailored solutions to match your vision. 
        With a focus on trust, integrity, and professionalism, our expert team ensures a seamless experience, using high-quality materials and techniques to achieve flawless results. Whether it’s refreshing interiors or enhancing exteriors, we are committed to bringing your ideas to life with exceptional craftsmanship.
        </p>
</div>
<div class="painting">
        <img src="/assets/stylish.png">
        <img src="/assets/stylish1.png">
        <img src="/assets/stylish2.png">
</div>

<div class="button">
    <button (click)=" viewproject()" >Back</button>
</div>
<button id="myBtn" (click)="scrollToTop()" style="color: white">
    <i style="font-size:24px" class="fa">&#xf106;</i>
  </button>
<app-footer></app-footer>