<app-header></app-header>
<div class="heading">
    <h1>Curtains and Soft Furnishings</h1>
</div>
<div class="description">
  <p>
     
Transform your home effortlessly with our exquisite range of curtains and soft furnishings, featuring over 500 options in beautiful fabrics and designer styles. Whether you seek elegance or comfort, our collection offers the perfect touch to refresh your space.

      </p>
</div>
<div class="painting">
        <img src="/assets/curtain1.png">
        <img src="/assets/curtain2.png">
        <img src="/assets/curtain3.png">
</div>

<div class="button">
    <button (click)=" viewproject()" >Back</button>
</div>
<button id="myBtn" (click)="scrollToTop()" style="color: white">
  <i style="font-size:24px" class="fa">&#xf106;</i>
</button>
<app-footer></app-footer>